@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    
    /* HSL color mode ---> w3school.com/colors/color HSL*/
    --first-color: #11475c;
    --second-color: #e5e5e5;
    --third-color: #30aaaf;
    --fourth-color: #155672;
    --fifth-color: #14202c;

    /*========== Font and typography ==========*/
    --normal-font: 'poppins', sans-serifs;
    --style-font: 'Black Ops One', cursive;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ---> it controls the vertical stacking order of elements that overlap==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*==================== LAYOUT ====================max-width: 768px;*/
.section{
    padding: 2rem 0 4rem;
}
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid{
    display: grid;
    gap: .5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    background-color: white;
    color: white;

}
/*-----------------header section--------------*/
.header__section{
    background-color: var(--first-color);
}
.head_img{
    position: relative;
    left: 0;
    bottom: -2rem;
    width: 200px;
}
.title{
    font-family: var(--style-font);
    font-weight: 100;
}
.sub-title{
    font-size: var(--h2-font-size);

}
.titles{
    text-align: center;
}
.header-grid{
    grid-template-columns: repeat(2, 1fr);
}
/*-----------------home section--------------*/

/*-----------------Quote section--------------*/
.quote__section{
    background-color: var(--third-color);
    grid-template-columns: 1fr 3fr 1fr;
    padding: 3rem 2rem 3rem;
}
.quoteimg_left{
    position: relative;
    left: -6rem;
    bottom: -4rem;
    width: 300px;
    transform: rotateY(-180deg);
}
.quoteimg_right{
    position: relative;
    right: -8rem;
    bottom: -4rem;
    width: 250px;
}
.quote__center{
    text-align: center;
    padding: 3rem 2rem 3rem;
}
.quote__title{
    font-family: var(--style-font);
    font-weight: 100;
    margin-bottom: var(--mb-1);
}
.quote__subtitle{
    margin-bottom: var(--mb-1);
}
/*-----------------portfolio section--------------*/
.portfolio__section{
    background-image: url('../assets/tour.png');
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.portfolio__bg{
    width:100%;
    background-color: rgba(255, 255, 255,90%);
}
.portfolio__img{
    width: 60%;
    height: 40%;
    border: solid 2px whitesmoke;
}
.portfolio{
    grid-template-columns: repeat(2, 1fr);
}
/*-----------------contact section--------------*/

.contact__section{
    background-color: var(--fourth-color);
}
.contact__img{
    width: 300px;
    transform: rotate(-25deg);
    position:relative;
    top: 1rem;
    left: -4.5rem;
}
.contact__data{
    align-items: center;
    padding:1rem 3rem;
    position:relative;
    text-align: center;
}
.contact__title{
    font-size: var(--h1-font-size);
}
.contact__subtitle{
    font-size: var(--h2-font-size);
}
.contact__title,
.contact__subtitle{
    font-family: var(--style-font);  
}
.contact_button{
    background-color: var(--third-color);
    color: white;
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    text-decoration: none;
    border-radius: 2rem;
    padding: .3rem 3rem;
}
.contact__description{
    text-align: center;
    font-family: var(--normal-font);
    font-size: var(--small-font-size);
}

/*-----------------footer--------------*/
.footer__bg{
    background-color: var(--fifth-color);
    padding: 3rem 2rem 3rem;
}
.app,.social{
    font-size: var(--small-font-size);
    text-align: center;
}
.footer__icons{
    margin-bottom: var(--mb-1);
    grid-template-columns: repeat(2, 1fr);
}
.footer__description{
    margin-bottom: var(--mb-1);
}
.footer__description,
.copy-right{
    font-size: var(--smaller-font-size);
    text-align: center;
}
.copy-right{
    margin-top: .5rem;
}
.footer__link{
    color: var(--third-color);
}
