@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {

    /*========== Colors ==========*/
    
    /* HSL color mode ---> w3school.com/colors/color HSL*/
    --first-color: #11475c;
    --second-color: #e5e5e5;
    --third-color: #30aaaf;
    --fourth-color: #155672;
    --fifth-color: #14202c;

    /*========== Font and typography ==========*/
    --normal-font: 'poppins', sans-serifs;
    --style-font: 'Black Ops One', cursive;

    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*------------------------Layout---------------------------*/
    .container{
        background-color: white;
        color: var(--second-color);
        font-family: var(--normal-font);
        font-size: var(--normal-font-size);
    }

/*------------------------r1---------------------------*/
    .r1{
        background-color: var(--first-color);
    }
    .basket-img{
        width: 100px;
        height: 130px;
        margin-left: -32px;
        margin-bottom: -25px;
    }
    .logo-img{
        padding-left: 6rem;
    }
    .logo{
        height: 90px;
    }
/*------------------------r2---------------------------*/
    .r2{
        background-color:var(--second-color);
    }
    .home__img{
        height: 250px;
        margin-top: -45px;
        padding-bottom: 2rem;
    }
    .home-description{
        text-align: center;
        color: black;
        padding: 3.5rem 1rem 2rem 4rem;
    }
    .home-description span{
        color: var(--third-color);
        font-size: medium;
    }
/*------------------------r3---------------------------*/
    .r3{
        background-color:var(--third-color);
    }
    .quote-left_img{
        margin-left: -12px;
    }
    .quote-right_img{
        margin-left: 6.5rem;
    }
    .quote-left_img,
    .quote-right_img{
        width: 150px;
        margin-top: var(--mb-2);
    }
    .quote__title{
        font-family: var(--style-font);
        margin-bottom: var(--mb-1);
        font-size: var(--h2-font-size);
    }
    .quote__subtitle{
        margin-bottom: var(--mb-1);
    }
    .quote{
        text-align: center;
        padding: var(--mb-2) 0 var(--mb-2) 0;
    }
/*------------------------r4---------------------------*/
    .r4{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        /*background-image: url('../img/tour.png');
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: top;*/
        background-color: rgba(235, 230, 230, 0.952);
    }
    .portfolio1_img,
    .portfolio2_img{
        width: 80%;
        margin-left: 2rem;
    }
    .portfolio-des1,
    .portfolio-des2{
        align-self: center;
        padding: 0 4rem;
    }

/*------------------------r5---------------------------*/
    .r5{
        background-color:var(--fourth-color);
    }
    .connect_img{
        margin-left: -12px;
    }
    .connect-note{
        text-align: center;
        padding: 4rem;
    }
    .connect-note-top{
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-1);
        
    }
    .contact__subtitle{
        font-size: var(--h2-font-size);
    }
    .connect-note-top,
    .contact__subtitle{
        font-family: var(--style-font);  
        font-weight: 100;
    }
    .contact_button{
        background-color: var(--third-color);
        color: white;
        font-family: var(--normal-font);
        font-size: var(--normal-font-size);
        text-decoration: none;
        border-radius: 2rem;
        padding: .3rem 3rem;
    }
    .connect-button{
        margin-bottom: var(--mb-1);
    }
/*------------------------r6---------------------------*/
    .r6{
     background-color:var(--fifth-color);
     text-align: center;
     padding: 3rem 2rem 3rem;
    }
    .social{
        font-size: var(--small-font-size);
        text-align: left;
    }
    .app{
        font-size: var(--small-font-size);
        text-align: right;
    }
    .app,
    .social,
    .footer-note,
    .copy-rights{
        margin-bottom: var(--mb-0-5);
        margin-top: var(--mb-0-5);
    }
    .footer__link{
        color: var(--third-color);
    }
    .footer-note,
    .copy-rights{
    font-size: var(--smaller-font-size);
}
   

/*------------media query*/
@media screen and (max-width: 768px) {
    .quote-right_img{
        margin-left: 2.8rem;
    }
}

@media screen and (max-width:576px) {
    .home-img{
        padding-left: 11rem;
    }

    .quote-right-img{
        padding-left: 23.3rem;
    }

}




