@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {

    /*========== Colors ==========*/
    
    /* HSL color mode ---> w3school.com/colors/color HSL*/
    --first-color: #11475c;
    --second-color: #e5e5e5;
    --third-color: #30aaaf;
    --fourth-color: #155672;
    --fifth-color: #14202c;

    /*========== Font and typography ==========*/
    --normal-font: 'poppins', sans-serifs;
    --style-font: 'Black Ops One', cursive;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}


/*------------------------Layout---------------------------*/
    .container{
        background-color: white;
        color: var(--second-color);
        font-family: var(--normal-font);
        font-size: var(--normal-font-size);
    }

    @media screen and (max-width:575px) {
        .portfolio1,
        .portfolio-des1,
        .portfolio2,
        .portfolio-des2{
            width:max-content;
        }
    }

/*------------------------r1---------------------------*/
    .r1{
        background-color: var(--first-color);
    }
    .basket-img{
        width: 100px;
        height: 130px;
        margin-left: -32px;
        margin-bottom: -25px;
    }
    .logo{
        height: 100px;
    }
/*------------------------r2---------------------------*/
    .r2{
        background-color:var(--second-color);
    }
    .home__img{
        height: 250px;
        margin-top: -45px;
    }
    .home-description{
        text-align: center;
        color: black;
        padding: 3.5rem 0 0 2rem;
    }
    .home-description span{
        color: var(--third-color);
        font-size: medium;
    }
/*------------------------r3---------------------------*/
    .r3{
        background-color:var(--third-color);
    }
    .quote-left_img{
        margin-left: -12px;
    }
    .quote-right_img{
        margin-right: 3rem;
    }
    .quote-left_img,
    .quote-right_img{
        width: 150px;
    }
/*------------------------r4---------------------------*/
    .r4{
        background-color:gainsboro;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }


/*------------------------r5---------------------------*/
    .r5{
        background-color:var(--fourth-color);
    }
    .connect_img{
        margin-left: -12px;
    }
    .connect-note{
        text-align: center;
        padding: var(--mb-3);
    }
    .connect-note-top{
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-1);
        
    }
    .contact__subtitle{
        font-size: var(--h2-font-size);
    }
    .connect-note-top,
    .contact__subtitle{
        font-family: var(--style-font);  
        font-weight: 100;
    }
    .contact_button{
        background-color: var(--third-color);
        color: white;
        font-family: var(--normal-font);
        font-size: var(--normal-font-size);
        text-decoration: none;
        border-radius: 2rem;
        padding: .3rem 3rem;
    }
    .connect-button{
        margin-bottom: var(--mb-1);
    }
/*------------------------r6---------------------------*/
    .r6{
     background-color:var(--fifth-color);
     text-align: center;
     padding: 3rem 2rem 3rem;
    }
    .social{
        font-size: var(--small-font-size);
        text-align: left;
    }
    .app{
        font-size: var(--small-font-size);
        text-align: right;
    }
    .app,
    .social,
    .footer-note,
    .copy-rights{
        margin-bottom: var(--mb-0-5);
        margin-top: var(--mb-0-5);
    }
    .footer__link{
        color: var(--third-color);
    }
    .footer-note,
    .copy-rights{
    font-size: var(--smaller-font-size);
}
    